<?xml version="1.0"?>

<!--Name: datasource.config.xml -->
<!--Author: Vinh Le -->
<!--Date: Nov 20, 2017 -->
<!--Description: This is a configuration file heavily inspired 
by the work done with Connor Scully-Allison 3 years ago. 
Configuration driven connection helpers with some neat tricks from inLumon -->


<DataSource>
  <Type>Database</Type>
  <Language>SQL</Language>
  <Implementation>PostGRESQL</Implementation>
  <Connection>mssql+pyodbc://{0}:{1}@localhost/{2}?driver=PostgreSQL</Connection>
  <Username>postgres</Username>
  <Password>Ghost!90</Password>
  <InitialCatalog>
  	<Name>LabSpace</Name>
    <Tables>
	    <Context namespace="Data">
		    <Table id="Measurements">
                <Name>Measurements</Name>
            </Table>
      </Context>
    </Tables>
  </InitialCatalog>
</DataSource>